@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
}

:root {
    --color-primary: #1a76d1;
    /* --color-primary-dark: #0056b3; */
    --color-primary-dark: #2c2d3f;
}

.dark {
    --color-primary: #0056b3;
    --color-primary-dark: #003a80;
}