@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
}

:root {
    --color-primary: #007BFF;
    --color-primary-dark: #0056b3;
}

.dark {
    --color-primary: #0056b3;
    --color-primary-dark: #003a80;
}